body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #015a97;
    color: white;
    padding: 10px 0;
    text-align: center;
}

#intro-section {
    padding: 50px 0;
    text-align: center;
    background-color: #e7e7e7;
    margin-bottom:20px;
}

#intro-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#intro-section p {
    font-size: 18px;
    margin-bottom: 30px;
    width: 60%;
    margin: auto;
    
}

#intro-section button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}



#intro-section button:hover {
    background-color: #45a049;
}

#psychometric-section {
    padding: 50px 0;
    text-align: center;
    background-color: #f8f9fa;
}
#psychometric-section button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#psychometric-section button:hover {
    background-color: #45a049;
}
.question-slider {
    margin: 20px auto;
    width: 60%;
}

.question {
    margin: 20px auto;
}

.question p {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option {
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius:5px;
    margin: 5px 0;
    cursor: pointer;
    transition: border 0.3s ease;
    margin: 20px auto;
}

.option:hover {
    background-color: #f0f0f0;
}

.selected {
    border: 4px solid #4CAF50;
    font-weight:bold;
}

#hero {
    background-color: #e7e7e7;
    padding: 50px 0;
    text-align: center;
}

#hero h2 {
    margin-bottom: 20px;
}

#hero button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#hero button:hover {
    background-color: #45a049;
}

.content-section {
    display: none;
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#smallbutton
{
    
    padding: 5px;
    font-size: 16px;
    background-color:#4275c8;
    color:white;
    line-height: 1.2em;
    display: block;
    width:40%;
    margin: 5px auto;
    border-radius:8px;
}

#smallbuttonr
{
    
    padding: 5px;
    font-size: 16px;
    background-color: #f11a77;
    color:white;
    line-height: 1.2em;
    display: block;
    width:40%;
    margin: 5px auto;
    border-radius:8px;
}

#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    bottom: 0;
    width: 100%;
}





/*===================== styles for section with id ="languageSelectionContainer" ======================*/

#languageSelectionContainer {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}
/* header,
footer {
    width: 100vw;
} */

#languageSelectionContainer .container {
    background: rgb(255, 255, 255);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 400px;
    text-align: center;
    margin: 0 auto;
}

#languageSelectionContainer .container h2 {
    font-size: large;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
}

#languageForm .checkbox-group {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap into multiple rows */
    justify-content: space-between;
    margin-bottom: 20px;
}

#languageForm label {
    display: flex; /* Use flex to align items */
    align-items: center; /* Center align checkbox and text */
    margin: 10px 0;
    width: calc(50% - 10px); /* Set width to 50% of the container with spacing */
    cursor: pointer;
    position: relative;
    font-size: 16px;
}

#languageForm input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

#languageForm input[type="checkbox"] + span {
    border: 1px solid #b9f0ff;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
    transition: background 0.3s;
}

#languageForm input[type="checkbox"]:checked + span {
    background-color: #00b37d;
}

#languageForm button {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add shadow */
    background-color: #00b37d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
    width: 100%;
}

#languageForm button:hover {
    background-color: #009966; /* Change color on hover */
}

#languageForm label:hover {
    background-color: rgba(8, 239, 166, 0.238); /* Light background on hover */
}

/* ============== End =============== */
